    @model IEnumerable<WebApplication1.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.Datetime.ToString("MM")
                    </div>
                    <div class="date">
                        @course.Datetime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                    </span>
                    <span class="category">
                        @course.Category.name
                    </span>
                </div>
              
            </li>
        }
    </ul>
</div>